* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;

}

.container {
    width: 1600px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #52bb72;
}

li {
    list-style: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.burger-menu {
    display: none;
    cursor: pointer;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: aliceblue;
    transition: all 0.3s ease;
}

/* For the slide */
.slide {
    width: 100%;
    /* max-width: 1200px; */
    height: auto;
    display: flex;
    justify-content: center;
}

.slide img {
    width: 100%;
    z-index: -2;
}

.btn {
    cursor: pointer;
    padding: 1.5em;
    display: flex;
    color: black;
}

.prev {
    border: 2px solid black;
    background: transparent;
    background-position: bottom right;
    transition: all .3s ease-out;
    border-radius: 50%;
}

.next {
    right: 0;
    border: 2px solid black;
    background: transparent;
    background-position: bottom left;
    transition: .3s ease-out;
    border-radius: 50%;
}

.prev:hover {
    border: 2px solid #ff9fac;
    background: linear-gradient(to right, #ff9fac 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: bottom left;
    color: #fff;
}

.next:hover {
    border: 2px solid #ff9fac;
    background: linear-gradient(to left, #ff9fac 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    color: #fff;
}

#right-btn {
    margin: auto 0 auto -7em;
}

#left-btn {
    z-index: 0;
    margin: auto -7em auto 0;
}

/* For the Top Categories */

.categories {
    display: flex;
}

.columns {
    float: left;
    width: 90%;
    max-width: 720px;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #0D3B66;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price li {
    padding: 5px;
    text-align: center;
    min-height: 2rem;
}

li label {
    text-align: center;
}

.price .grey {
    color: #f8f8f8;
    background-color: #0D3B66;
    font-size: 20px;
}

.membershipHeader {
    background-color: #B5610D;
    color: black;
    font-size: 25px;
}

.categorie img {
    width: 100%;
}


/* Media Queries Navbar */
@media(max-width: 1600px) {
    .container {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .burger-menu {
        display: block;
        margin-left: 30px
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;

    }

    .burger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }

    .burger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #98dbc6;
        width: 100%;
        text-align: center;
        transition: 0.3s
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}