* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;

}

.container {
    width: 1600px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #52bb72;
}

li {
    list-style: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.burger-menu {
    display: none;
    cursor: pointer;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: aliceblue;
    transition: all 0.3s ease;
}

/* For the slide */
.container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
}

.container img {
    width: 100%;
    z-index: -2;
}

.btn {
    cursor: pointer;
    padding: 3em;
    display: flex;
    color: white;
}

.prev {
    border: 5px solid white;
    background: transparent;
    background-position: bottom right;
    transition: all .3s ease-out;
    border-radius: 50%;
}

.next {
    right: 0;
    border: 5px solid white;
    background: transparent;
    background-position: bottom left;
    transition: all .3s ease-out;
    border-radius: 50%;
}

.prev:hover {
    border: 5px solid #ff9fac;
    background: linear-gradient(to right, #ff9fac 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: bottom left;
    color: #fff;
}

.next:hover {
    border: 5px solid #ff9fac;
    background: linear-gradient(to left, #ff9fac 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    color: #fff;
}



/* Media Queries Navbar */
@media(max-width: 1600px) {
    .container {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .burger-menu {
        display: block;
        margin-left: 30px
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;

    }

    .burger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }

    .burger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #98dbc6;
        width: 100%;
        text-align: center;
        transition: 0.3s
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}