*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;

}
.categories{
    max-width: 350px;
    margin: auto;
}
.top-categories{
   
    text-align: center;
    
    display: flex;
   overflow-y:hidden ;
}
.top-categories i{
    margin: 20px 0;
   
}
.top-categories h1{
    margin-bottom: 130px;
    
}
.fa-ice-cream{
    color: #ff6c7f;
}
.card{
    width: 300px;
    margin: auto;
    background-color: #ffa8b4;
    position: relative;
    color: aliceblue;
    border-radius:  10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    padding-bottom: 30px;


}

.card-wrap{
    display: flex;
}
.circle-top{
    height: 160px;
    width: 160px;
    background-color: #ff6c7f;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 27%;
    
}
.card-content{
    padding:150px 20px 20px 20px ;
}
.card-content h2, i, p{
    margin-bottom: 20px;
}
.btn-view-all{
    border-top: white 1px solid;
    width: 60%;
    margin: auto ;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    /* padding-bottom: 15px; */
}

.btn-view-all:hover{
    
    border-top:  3px solid white;
    width: 60%;
    font-weight: bolder;
    font-size: 1.3rem;
    /* transform: translateX(12px); */
}
